/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

:root {
  --color-primary: #f75b34;
  --color-secondary: #ffffff;
}

.fixedHeaderContainer header img {
  height: 25px;
}

.projectTagline {
  color: var(--color-primary);
  font-size: 150%;
  margin-top: 0;
}

.projectTagline small {
  display: block;
  color: var(--color-primary);
  font-size: 50%;
  margin-top: 10px;
}

.section-title {
  text-align: center;
  font-size: 200%;
  font-weight: 700;
}

.container.paddingTop {
  padding-top: 10px;
}

.nav-footer .fbOpenSource {
  width: 100%;
  text-align: center;
}

.mainContainer {
  padding-bottom: 0;
}
