/* your custom css */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

html,
body {
  font-family: "Roboto", sans-serif;
  color: rgb(59, 69, 78);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p,
li {
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
}

li {
  margin-top: 10px;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h2 {
  border-top: 1px solid #ececec;
  margin-top: 44px;
  padding-top: 40px;
  line-height: 1.2;
}

h3 {
  margin-top: 45px;
}

a {
  letter-spacing: 0.25px;
}

a:hover {
  text-decoration: underline;
}

.navigationSlider .slidingNav ul li {
  margin-top: 0px;
}

.navigationSlider .slidingNav ul li a {
  font-weight: 400;
}

.toc .toggleNav ul li a {
  padding: 0;
}

strong,
b {
  font-weight: 600;
}

.edit-page-link {
  font-weight: 500;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

:root {
  --color-primary: #f75b34;
  --color-secondary: #9013fe;
}

.fixedHeaderContainer header img {
  height: 25px;
}

ol {
  margin: 30px 0 30px 30px;
  padding: 0;
}
ol li {
  position: relative;
  margin-left: 15px;
  list-style: none;
  counter-increment: a;
  padding-top: 6px;
}

ol li:before {
  position: absolute;
  color: #fff;
  background: var(--color-secondary);
  width: 26px;
  height: 26px;
  line-height: 24px;
  font-size: 14px;
  display: block;
  content: counter(a);
  left: -45px;
  top: 8px;
  text-align: center;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.02em;
  vertical-align: initial;
}

.post img {
  max-width: 100%;
  margin: 20px auto 40px;
  border: 1px solid #e1e2e4;
  border-radius: 3px;
}
