@tailwind base;

.dark {
  color-scheme: dark;
}

html {
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

abbr[title] {
  text-decoration: none;
}

.inside-tab > .alert-box {
  margin-top: 25px;
}
.inside-tab > .code-block {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
