@tailwind base;

.dark {
  color-scheme: dark;
}

html {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

abbr[title] {
  text-decoration: none;
}

.inside-tab > .alert-box {
  margin-top: 25px;
}
.inside-tab > .code-block {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-direction: column;
}

.image-container img {
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.image-container .caption {
  margin-top: 10px;
  text-align: center;
}

.image-container img.no-shadow,
.image-container svg.no-shadow {
  border-radius: 5px;
  box-shadow: initial;
  border: initial;
}

.image-container img.full-width,
.image-container svg.full-width {
  width: 100%;
  height: 100%; /* needed for svg images */
}
