@import "base.css";

/*! purgecss start ignore */
/*@import "docsearch.css";*/
@import "prism.css";
@import "bar-of-progress.css";
/*! purgecss end ignore */

@import "tailwindcss/components";
@import "utilities.css";
/* Add Lightbox styles */
@import "react-image-lightbox/style.css";

.webiny-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}
.webiny-gallery > .image-container {
  padding: 0 20px;
  flex-basis: 33%;
  max-width: 300px;
}
